body {
    background-image: url("../images/funky-background.jpg");
    
}

.container {
    width: 60%;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    
}

#main-content {
    border: 4px solid rgb(245, 29, 198);
    text-align: center justify;
    background-color: #fff;
    margin-top: 20px;
    height: 600px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(24, 135, 226);
    margin-top: 20px;
    
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #777;
    margin-top: 10px;
}

#second-content, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #777; 
}

#choice {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-right: 10px;
    padding: 15px;
    background-color: white;
    border: none;
    font-weight: bold;
    border: 2px solid rgb(245, 29, 198);
    margin-top: 50px;
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

#start {
    border: 3px solid rgb(245, 29, 198);
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(245, 29, 198);
    padding: 10px;
    font-weight: bold;
    margin-top: 150px;
}

#clock{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgb(245, 29, 198);
}

#time{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgb(245, 29, 198);
}

h3 {
    font-size: 20px;
    color: #777; 
    margin-bottom: 50px;
}

h2 {
    font-size: 20px;
    color: black; 
    margin-bottom: 25px;
    margin-top: 50px;
}

#redo {
    border: 3px solid rgb(245, 29, 198);
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(245, 29, 198);
    padding: 10px;
    font-weight: bold;
    margin-top: 50px;
}

#image {
    margin-left: 20px;
}


